.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.section {
  margin: 0 10% 50px;
}

.page__header {
  margin: 20px 10% 50px;
}
.language-list__heading {
  font-weight: 700;
}

.skils-list {
  text-align: center;
}